<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Filters</key>
    <array>
        <dict>
            <key>FilterName</key>
            <string>ColorInversion</string>
        </dict>
        <dict>
            <key>FilterName</key>
            <string>SaturationAdjustment</string>
            <key>Attributes</key>
            <dict>
                <key>setSaturation:</key>
                <string>float(1.0)</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
